.toolbar {
    background-color: #fafafa;
    padding: 0 20px;

    position: fixed;
    top: 0;
    right: 0;
    z-index: 5;
    width: calc(100% - 300px);
    height: var(--h-toolbar);

    grid-area: toolbar;

    display: flex;
    align-items: center;
    gap: 20px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    /* box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2); */
}

.tb-toggle {
    font-size: 1.5rem;

    display: none;
    flex-wrap: nowrap;
}
.tb-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tb-links {
    list-style: none;

    display: flex;
    gap: 10px;
}
.tb-link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    color: #555;
    background-color: rgba(46,64,83, 0.05);
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color .2s ease;
}
.tb-link:hover {
    color: #2e4053;
    background-color: rgba(46,64,83, 0.15);
}

@media (max-width: 1000px) {
    .toolbar {
        width: 100%;        
    }
    .tb-toggle {
        display: flex;
    }
}