.npform {
    background-color: #f8f9f9;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 15px;
    gap: 10px;
}

.npform-row {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;

    width: 100%;
}

.npform-group {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}
.npform-group > label {
    font-size: 14px;
}
.npform-group > input {
    margin: 3px 0px;
    padding: 5px;
    width: 100%;
    border: 1px solid rgba(50, 50, 50, 0.35);
    border-radius: 3px;
}
.npform-group > select {
    margin: 3px 0px;
    padding: 5px;
    width: 100%;
    border: 1px solid rgba(50, 50, 50, 0.35);
    border-radius: 3px;
}
.npform-group > small {
    color: rgb(200, 50, 50);
}

.npform-btn {
    padding: 10px 15px;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    transition: all .2s ease;
    cursor: pointer;
}
.npbtn-submit {
    color: #fafafa;
    background-color: green;
} 
.npbtn-submit:hover {
    color: #fafafa;
    background-color: rgb(0, 64, 0);
}  
.npbtn-reset {
    color: #fafafa;
    background-color: rgb(255, 0, 0);
}
.npbtn-reset:hover {
    color: #fafafa;
    background-color: rgb(155, 0, 0);
}