.card{
    max-width: 1600px;
    margin: 20px 0;
    border-radius: 3px;
    background-color: #fafafa;
    border: 1px solid rgba(0, 0, 0, 0.25);
    /* box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1); */
}

.card > header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px;
    background-color: rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid rgb(200, 200, 200);
}
.card > header h3 {
    font-size: medium;
    font-weight: 500;
    text-transform: uppercase;
    color: #444;
}




.card > footer {
    font-size: medium;
    padding: 15px;
    border-top: 1px solid rgb(222, 222, 222);
}